body {
    font-family: 'futura';
    font-family: 'myriad-pro';
    font-size: 18px;
}

#topcontrol {
    background: rgba(0, 0, 0, 0.45); /* Up button is looking to blue by default */
}
.logo img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "kepler-std-semicondensed-dis";
    letter-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
}

.promo .title {
    font-size: 60px;
    font-size: 75px;
}

/* Navigtation Bar  ---start */
.header.navbar-fixed-top {
    background: #000;
}
.header.navbar-fixed-top h1.logo a {
    background: transparent;
}
.header.navbar-fixed-top .main-nav .nav .nav-item a {
    color: #FFFFFF;
}
.header h1.logo a {
    background: transparent;
}
/* Navigtation Bar --- end */



.section .intro {
    font-size: 20px
}
@media (min-width: 992px) {
    section.promo.section.section-on-bg {
        padding-top: 189px;
    }
}

section.section.why .quote-profile > img {
    max-width: 70px;
    max-height: 70px;
}


.blog-entry-content img {
    max-width: 100%;
}


/* COMPARISON SECTION */
.comparison.text-center h3 {
    letter-spacing: 2px;
}
.comparison.text-center h3 {
letter-spacing: 2px;
}


/* 3 STEPS SECTION BLOCK */
.steps .step .title .number {
    font-family: "kepler-std-semicondensed-dis" !important;
    background: rgba(131, 140, 160, 0);
    border: 5px solid #808080;
    color: #fff;
    padding-top: 7px;
    padding-left: 5px;
    font-size: 61px;
}
.steps .step .title .text {
    color: #FFFFFF;
    font-size: 22px;
    letter-spacing: 2px;
}
.steps .title {
    font-size: 44px;
    margin-top: 25px;
}
section.steps.section {
    background: #232529;
}
section.steps.section {
    color: white;
}

section.steps .text-below {
    width: 90%;
    margin: 30px auto;
}
@media (min-width: 992px) {
section.steps .text-below {
    padding-top: 60px;
    width: 45%;
}
}

.steps .step {
    color: rgb(177, 177, 177);
    color: rgb(202, 202, 202);
}


.promo-section {
    margin-bottom: 0px;
    background: grey;
}
.promo.section .intro {
    max-width: 800px;
}

@media (max-width: 767px) {
    .promo {
        height: auto;
    }

    .promo > .container{
        padding-bottom: 100px;
    }
    .promo .title {
        font-size: 50px;
    }
}

.promo-quote-section .quote-user {
    text-align: right;
}
.promo-quote-section .quote {
    font-size: 25px;
    font-style: italic;
}
@media (min-width: 500px) {
    .promo-quote-section .quote {
        font-size: 35px;
    }
}
@media (min-width: 992px) {
    .promo-quote-section > .container {
        padding-left: 125px;
        padding-right: 125px;
    }
    .promo-quote-section .quote {
        font-size: 44px;
    }
}

/* FOOTER START */
.footer {
    background: #232529;
}
.footer .bottom-bar .container {
    text-align: center;
}
input#mce-EMAIL {
    width: 223px;
}
.footer .contact p {
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75;
}
.footer .footer-col a {
    color: #9AA7BB;
}
/* FOOTER END */


.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}